<template>
  <GalleryWrapper :images="store.favorites" />
</template>

<script setup lang="ts">
import GalleryWrapper from '../components/GalleryWrapper.vue';
import { usePhotosStore } from "../store";

const store = usePhotosStore();

</script>
