<template>
  <div class="flex md:mx-32 sm:mx-2 flex-col content-center justify-around align-center">
    <h1 class="text-4xl flex justify-center mt-8 mb-8 font-blackops tracking-wide"> {{ route.name }}</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-16 justify-around sm:grid-cols-1">
      <div v-for="(img, index) in img_arr" class="h-92 hover:text-rose-500">
        <router-link v-if="info[index] !== 'favorites'" :to="{ name: 'gallery', params: { id: info[index] } }">
          <div>
            <img :src=img class="object-cover h-96 w-96" />
          </div>
          <h5 class="text-lg font-bold mt-2"> {{ info[index].charAt(0).toUpperCase() + info[index].slice(1) }}</h5>
        </router-link>
        <router-link v-else :to="{ name: 'favorites' }">
          <div>
            <img :src=img class="object-cover h-96 w-96" />
          </div>
          <h5 class="text-lg font-bold mt-2"> {{ info[index].charAt(0).toUpperCase() + info[index].slice(1) }}</h5>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from 'vue-router';
import { usePhotosStore } from "../store";
const store = usePhotosStore();
const route = useRoute()


import data from "../generated_json.json"


const dataInfo: Record<any, string[]> = data;

const img_arr: string[] = []

const info = Object.keys(data);
info.map((item) => {
  img_arr.push(dataInfo[item][0])

})
if (store.favorites.length > 0) {
  img_arr.push(store.favorites[0])
  info.push('favorites')
}
</script>