<template>
    <GalleryWrapper :images="path" />
  </template>
  
<script setup lang="ts">
//   import { useRoute } from 'vue-router';
import GalleryWrapper from '../components/GalleryWrapper.vue';
import data from "../generated_json.json"
const dataInfo: Record<any, string[]> = data;

//   const route = useRoute()
import { computed } from 'vue';

const path = computed(() => {
    return dataInfo[String('israel')]
})
</script>
  