<template>
    <footer class="flex justify-center pt-4 mt-16 pb-4 bg-blue-700 text-white font-roboto"> <a href="https://www.tripadvisor.com.tr/Tourism-g297965-Kas_Turkish_Mediterranean_Coast-Vacations.html ">link to the kash</a> Все права защищены</footer>
</template>