<template>
  <div class="flex md:mx-32 sm:mx-4 flex-col content-center  justify-around ">
    <h1 class="text-4xl font-bold flex justify-center mb-8 mt-8 font-blackops tracking-wide">
      {{ route.params.id ? String(route.params.id).charAt(0).toUpperCase() + String(route.params.id).slice(1) :
        route.name }}</h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-16 justify-around sm:grid-cols-1">
      <div v-for="(src, index) in images" :key="index">
        <v-lazy-image :src="src" class="object-cover h-96 w-96" @click="() => showImg(index)" />
        <Transition   name="custom-classes" enter-active-class="animate__animated animate__fadeInRight animate__faster" 
                      leave-active-class="animate__animated animate__fadeInRight animate__faster">
          <button @click="likePhoto(src)" v-if="!isInImagesFavorites(src)" class="ml-0 w-0"> <i
              class="mdi mdi-heart-outline text-2xl text-red-500"></i></button>
          <button @click="dislikePhoto(src)" class="ml-0 w-0" v-else-if="isInImagesFavorites(src)"><i
              class="mdi mdi-heart text-2xl text-red-500" /></button>
        </Transition>

      </div>
      <vue-easy-lightbox :visible="visibleRef" :imgs="images" :index="indexRef" @hide="onHide"></vue-easy-lightbox>
    </div>
  </div>
</template>

<script setup lang="ts">
import 'animate.css/animate.min.css';
import VueEasyLightbox from 'vue-easy-lightbox';
import VLazyImage from "v-lazy-image";

import { useRoute } from 'vue-router';
import { ref } from 'vue';
// import { isInImagesFavorites } from '../helpers/useLocalFavorites.ts'
import { usePhotosStore } from '../store';
const store = usePhotosStore();

const isInImagesFavorites = (index: string) => {
  if (store.getFavoriteImages) return store.getFavoriteImages.includes(index);
};

defineProps<{
  images: string[]
}>()
const route = useRoute()
const visibleRef = ref(false);
const likePhoto = (src: string) => {
  store.addToFavorites(src)
}
const dislikePhoto = (src: string) => {
  store.deleteFromFavorites(src);
}

const indexRef = ref(0);
const showImg = (index: number) => {
  indexRef.value = index
  visibleRef.value = true
}


const onHide = () => visibleRef.value = false;
</script>
