<template>
  <header class="flex bg-indigo-500 justify-center p-4 ">
    <nav class="w-1/3 flex justify-around">
      <router-link to="/" class="text-white text-2xl font-roboto"> Home</router-link>
      <router-link to="/random" class="text-white text-2xl font-roboto"> Random</router-link>
      <router-link to="/favorites" class="text-white text-2xl font-roboto"> Favorites</router-link>
    </nav>
  </header>
</template>
