<template>
    <div class="min-h-screen flex flex-col justify-between">
        <Header />
        <router-view></router-view>
        <Footer />
    </div>
</template>

<script setup lang="ts">
import Header from './components/Header.vue'
import Footer from './components/Footer.vue';
</script>

<style lang="scss">
@import './node_modules/@mdi/font/scss/materialdesignicons.scss';
</style>