@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Roboto, sans-serif;
    src: url('./assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto, sans-serif;
    src: url('./assets/fonts/Roboto-Medium.ttf');
    font-weight: 500;
}
/* @font-face {
    font-family: BlackOps, cursive;
    src: url('./assets/fonts/BlackOpsOne-Regular.ttf');
} */